body {
  background-image: url(../img/Space_with_stars.jfif);
  background-size: contain;
  margin: 0px;
}

header {
  width: 1300px;
  height: 990px;
}

* {
  list-style-type: none;
  text-decoration: none;
  color: #ffffff;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 120px;
  margin: 0px;
  padding: 0px;
  margin-top: 60px;
  margin-left: 80px;
}

.logo-nav {
  margin-right: 70px;
  width: 53px;
  height: 80px;
}

.text-nav {
  font-size: 18px;
  font-family: Istok Regular;
  color: #ffffff;
  font-weight: 400;
  line-height: 25.91px;
}

.kenia-music-text {
  width: 412px;
  height: 264px;
  display: block;
  margin: 0px;
  padding: 0px;
  padding-left: 30px;
  margin-top: 150px;
  font-size: 150px;
  font-family: "kenia";
  line-height: 1;
}

.istok-text {
  display: block;
  margin: 0px;
  margin-top: 160px;
  padding: 0px;
  padding-left: 30px;
  width: 290px;
  height: 63px;
  top: 730px;
  left: 122px;
  gap: 0px;
  opacity: 0px;
  font-family: Istok Regular;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.79px;
  text-align: left;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 100px;
  padding-right: 70px;
  gap: 300px;
}

.phone_block {
  height: 600px;
}

.phone-img {
  width: 500px;
  height: 888.01px;
}

.cable {
  position: relative;
  transform: translate(+50px, -160px);
  z-index: -1;
}

main {
  width: 1368px;
  height: 800px;
  background-color: #d53005;
  padding: 0px;
  margin: 0px;
}

#Music {
  display: block;
  width: 84px;
  height: 35px;
  padding-top: 83px;
  margin-left: 85px;
  font-family: Karla;
  font-size: 30px;
  font-weight: 400;
  line-height: 35.07px;
  text-align: left;
  font-family: "Karla";
  font-size: 30px;
  font-weight: 400;
  line-height: 35.07px;
  text-align: left;
}

.content-music {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  padding: 0px;
  margin: 0px;
  gap: 0px;
}

.buttons-music-list {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-left: 120px;
  position: relative;
  transform: translate(+50px);
}

.buttons-music {
  cursor: pointer; /* Меняет курсор на руку при наведении */
  width: 330px;
  height: 83px;
  align-items: center;
  gap: 0px;
  border: 1px solid #00000080;
  opacity: 0px;
  box-shadow: -4px -4px 30px 0px #ffffff1a;

  box-shadow: 4px 4px 4px 0px #00000080;

  background: radial-gradient(
    98.43% 2084.95% at 1.57% 7.83%,
    #b13e18 0%,
    #f3501a 100%
  );
  font-family: "Karla";
  font-size: 40px;
  font-weight: 400;
  line-height: 46.76px;
  text-align: center;
}

.About-page {
  width: 1368px;
  height: 800px;
  background: linear-gradient(180deg, #d53005 0%, #000000 6.04%);
}

#About {
  font-family: Karla;
  display: block;
  padding-left: 85px;
  padding-top: 80px;
  font-size: 30px;
  font-weight: 400;
  line-height: 35.07px;
  text-align: left;
}

.about-text {
  width: 969px;
  height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: "Karla";
  font-size: 30px;
  font-weight: 400;
  line-height: 35.07px;
  margin: 320px 220px;
}

.store-page {
  background: #d53005;
  width: 1368px;
  height: 800px;
}

#Store {
  font-family: Karla;
  width: 73px;
  height: 35px;
  display: block;
  margin-left: 85px;
  padding-top: 80px;
  font-size: 30px;
  font-weight: 400;
  line-height: 35.07px;
  text-align: left;
}

.store-content {
  display: flex;
  flex-direction: row;
  gap: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.left-list-store {
  width: 300px;
  padding: 0px;
  margin: 0px;
  margin-top: 120px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.store-button-win {
  cursor: pointer; /* Меняет курсор на руку при наведении */
  width: 240px;
  height: 60px;
  border-radius: 30px;
  opacity: 0px;
  box-shadow: -4px -4px 4px 0px #ffffff1a;
  background-color: #020202;
  box-shadow: 4px 4px 4px 0px #00000040;
  font-family: "Montserrat ExtraLight";
  font-size: 20px;
  font-weight: 400;
  line-height: 24.38px;
  text-align: center;
}

.store-button-mac {
  cursor: pointer; /* Меняет курсор на руку при наведении */
  width: 240px;
  height: 60px;
  gap: 0px;
  border-radius: 30px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background-color: #e3e3e3;
  border: 1px solid #000000b2;
  box-shadow: -4px -4px 4px 0px #ffffff1a;
  box-shadow: 4px 4px 4px 0px #00000040;
  color: #000000;
  font-family: "Montserrat ExtraLight";
  font-size: 20px;
  font-weight: 400;
  line-height: 24.38px;
  text-align: center;
}

.store-left-content-text1 {
  width: 450px;
  font-family: "Montserrat SemiBold";
  padding-right: 50px;
  font-size: 21px;
  font-weight: 600;
  line-height: 25.6px;
  text-align: center;
}

.store-left-content-text2 {
  width: 430px;
  font-family: "Montserrat Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 21.94px;
  text-align: center;
}

.mac-img {
  width: 1000px;
  position: relative;
  transform: translate(-35px);
}

.text-store-all {
  width: 300px;
  position: relative;
  transform: translate(-70px);
}

.last-version-player-text {
  color: #000000;
  text-decoration: underline;
}

.footer-page {
  width: 1368px;
  height: 600px;
  background: linear-gradient(180deg, #d53005 0%, #000000 4.01%);
}

.footer-3lists {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-top: 120px;
  margin-left: 390px;
  margin-right: 20px;
  font-family: Montserrat Light;
  font-size: 16px;
}

.footer-3lists li {
  width: 290px; /* Фиксированная ширина для каждого элемента */
}

.first-list-footer {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.second-list-footer {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.third-list-footer {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer-list-text-main {
  font-family: "Montserrat SemiBold";
  font-size: 20px;
}

.footer-logo {
  width: 140px;
  padding: 0px;
  margin: 0px;
  margin-top: 70px;
  margin-left: 70px;
}

.last-list {
  margin-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
  font-family: Montserrat Light;
}

@font-face {
  font-family: "Istok Regular";
  src: url("../fonts/istok/istok_regular.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/istok/istok_regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/istok/istok_regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/istok/istok_regular.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/istok/istok_regular.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/istok/istok_regular.svg#istok_regular") format("svg"); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Kenia";
  src: url("../fonts/kenia/kenia.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/kenia/kenia.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/kenia/kenia.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/kenia/kenia.woff") format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/kenia/kenia.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/kenia/kenia.svg#kenia")
      format("svg"); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Karla";
  src: url("../fonts/karla/karla.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/karla/karla.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/karla/karla.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/karla/karla.woff") format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/karla/karla.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/karla/karla.svg#karla")
      format("svg"); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Montserrat Black";
  src: url("../fonts/montserrat_black.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/montserrat_black.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/montserrat_black.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat_black.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/montserrat_black.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat_black.svg#montserrat_black") format("svg"); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Montserrat Black Italic";
  src: url("../fonts/montserrat_black_italic.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/montserrat_black_italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/montserrat_black_italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat_black_italic.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/montserrat_black_italic.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat_black_italic.svg#montserrat_black_italic")
      format("svg"); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("../fonts/montserrat_bold.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/montserrat_bold.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/montserrat_bold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat_bold.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/montserrat_bold.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat_bold.svg#montserrat_bold") format("svg"); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Montserrat Bold Italic";
  src: url("../fonts/montserrat_bold_italic.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/montserrat_bold_italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/montserrat_bold_italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat_bold_italic.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/montserrat_bold_italic.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat_bold_italic.svg#montserrat_bold_italic")
      format("svg"); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Montserrat ExtraBold";
  src: url("../fonts/montserrat_extrabold.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/montserrat_extrabold.eot?#iefix")
      format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/montserrat_extrabold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat_extrabold.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/montserrat_extrabold.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat_extrabold.svg#montserrat_extrabold")
      format("svg"); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Montserrat ExtraBold Italic";
  src: url("../fonts/montserrat_extrabold_italic.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/montserrat_extrabold_italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/montserrat_extrabold_italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat_extrabold_italic.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/montserrat_extrabold_italic.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat_extrabold_italic.svg#montserrat_extrabold_italic")
      format("svg"); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Montserrat ExtraLight";
  src: url("../fonts/montserrat_extralight.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/montserrat_extralight.eot?#iefix")
      format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/montserrat_extralight.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat_extralight.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/montserrat_extralight.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat_extralight.svg#montserrat_extralight")
      format("svg"); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Montserrat ExtraLight Italic";
  src: url("../fonts/montserrat_extralight_italic.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/montserrat_extralight_italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/montserrat_extralight_italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/montserrat_extralight_italic.woff") format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/montserrat_extralight_italic.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat_extralight_italic.svg#montserrat_extralight_italic")
      format("svg"); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Montserrat Italic";
  src: url("../fonts/montserrat_italic.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/montserrat_italic.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/montserrat_italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat_italic.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/montserrat_italic.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat_italic.svg#montserrat_italic") format("svg"); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Montserrat Light";
  src: url("../fonts/montserrat_light.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/montserrat_light.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/montserrat_light.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat_light.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/montserrat_light.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat_light.svg#montserrat_light") format("svg"); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Montserrat Light Italic";
  src: url("../fonts/montserrat_light_italic.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/montserrat_light_italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/montserrat_light_italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat_light_italic.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/montserrat_light_italic.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat_light_italic.svg#montserrat_light_italic")
      format("svg"); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Montserrat Medium";
  src: url("../fonts/montserrat_medium.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/montserrat_medium.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/montserrat_medium.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat_medium.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/montserrat_medium.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat_medium.svg#montserrat_medium") format("svg"); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Montserrat Medium Italic";
  src: url("../fonts/montserrat_medium_italic.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/montserrat_medium_italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/montserrat_medium_italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat_medium_italic.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/montserrat_medium_italic.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat_medium_italic.svg#montserrat_medium_italic")
      format("svg"); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("../fonts/montserrat_regular.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/montserrat_regular.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/montserrat_regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat_regular.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/montserrat_regular.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat_regular.svg#montserrat_regular") format("svg"); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Montserrat SemiBold";
  src: url("../fonts/montserrat_semibold.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/montserrat_semibold.eot?#iefix")
      format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/montserrat_semibold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat_semibold.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/montserrat_semibold.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat_semibold.svg#montserrat_semibold") format("svg"); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Montserrat SemiBold Italic";
  src: url("../fonts/montserrat_semibold_italic.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/montserrat_semibold_italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/montserrat_semibold_italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat_semibold_italic.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/montserrat_semibold_italic.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat_semibold_italic.svg#montserrat_semibold_italic")
      format("svg"); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Montserrat Thin";
  src: url("../fonts/montserrat_thin.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/montserrat_thin.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/montserrat_thin.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat_thin.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/montserrat_thin.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat_thin.svg#montserrat_thin") format("svg"); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Montserrat Thin Italic";
  src: url("../fonts/montserrat_thin_italic.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/montserrat_thin_italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/montserrat_thin_italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat_thin_italic.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/montserrat_thin_italic.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat_thin_italic.svg#montserrat_thin_italic")
      format("svg"); /* Chrome < 4, Legacy iOS */
}
